:root {
  --mainColor: #5e227f;
  --secondaryColor: #41a7b3;

  --borderColor: #1fe5bd;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: rgb(29, 21, 32, 0.8);
  --previewShadow: #2b202f;

  --buttonColor: #d22780;
}
